<div class="container mt-5">
  <h5>
    <i class="fa fa-file-text"></i> Projects
    <hr />
  </h5>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-folder-open-o fa-2x"></i
            ><span>Personal website</span>
            <a
              href="https://shraddha-bijotkar.github.io/portfolio/"
              class="stretched-link"
            ></a>
          </h5>
          <span class="card-text">
            <ul class="list-group">
              <li class="list-group-item border-0">
                <i class="fa fa-lightbulb-o"></i>
                Personal portfolio is a professional portfolio website hosted on
                GitHub pages having various sections.
              </li>
            </ul>
          </span>

          <span class="card-footer"
            ><ul class="list-group list-group-horizontal">
              <li class="list-group-item">Angular 10</li>
              <li class="list-group-item">HTML</li>
              <li class="list-group-item">CSS</li>
              <li class="list-group-item">Bootstrap</li>
            </ul></span
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-folder-open-o fa-2x"></i><span> Interview Bot</span>
          </h5>
          <span class="card-text">
            <ul class="list-group">
              <li class="list-group-item border-0">
                <i class="fa fa-lightbulb-o"></i>
                A dialogflow bot integrated with a web application where a
                student can practice various technical interview questions as
                well as HR round and check the result section to understand
                his/her own performance.
              </li>
            </ul>
          </span>
          <span class="card-footer"
            ><ul class="list-group list-group-horizontal">
              <li class="list-group-item">Angular</li>
              <li class="list-group-item">HTML/CSS</li>
              <li class="list-group-item">Bootstrap</li>
              <li class="list-group-item">Node.js</li>
              <li class="list-group-item">MySQL</li>
            </ul></span
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-folder-open-o fa-2x"></i
            ><span> Online Trip Management Application</span>
          </h5>
          <span class="card-text">
            <ul class="list-group">
              <li class="list-group-item border-0">
                <i class="fa fa-lightbulb-o"></i>
                It is a web application with separate dashboards for admin and
                user. User can log in to book trips and view different trip
                packages.
              </li>
            </ul>
          </span>
          <span class="card-footer"
            ><ul class="list-group list-group-horizontal text-wrap">
              <li class="list-group-item">Angular</li>
              <li class="list-group-item">HTML/CSS</li>
              <li class="list-group-item">Bootstrap</li>
              <li class="list-group-item">Spring Boot</li>
              <li class="list-group-item">MySQL</li>
            </ul></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
