<div class="footer">
  <ul class="list-group justify-content-center" style="flex-direction: row">
    <li class="list-group-item border-0">
      <a href="mailto:shraddha.bijotkar@gmail.com"
        ><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i
      ></a>
    </li>
    <li class="list-group-item border-0">
      <a href="https://www.linkedin.com/in/shraddha-bijotkar-155649177"
        ><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i
      ></a>
    </li>
    <li class="list-group-item border-0">
      <a href="https://github.com/shraddha-bijotkar"
        ><i class="fa fa-github fa-2x" aria-hidden="true"></i
      ></a>
    </li>
  </ul>
</div>
