<div class="container">
  <div class="row mt-5 wrap-feature41-box">
    <h5>
      <i class="fa fa-briefcase"></i> Experience
      <hr />
    </h5>
    <div
      class="col-lg-3"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <div>
        <h5 class="mb-3">
          <button
            class="nav-link active"
            id="v-pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-home"
            type="button"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
          >
            Capgemini India
          </button>
        </h5>
      </div>
      <div>
        <h5>
          <button
            class="nav-link"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-profile"
            type="button"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
          >
            Cloud Counselege
          </button>
        </h5>
      </div>
    </div>
    <div class="col-lg-9 ml-auto">
      <div class="tab-content" id="v-pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="v-pills-home"
          role="tabpanel"
          aria-labelledby="v-pills-home-tab"
          tabindex="0"
        >
          <span class="m-t-40">
            <ul class="list-group">
              <li class="list-group-item border-0">
                <h5 class="subtitle">
                  Senior Software Developer | Capgemini India
                </h5>
                <h6 class="subtitle">Jul 2021 to Present</h6>
              </li>
              <li class="list-group-item border-0">
                <i class="fa fa-check"></i>
                Collaborating with the team for the past 2 years to understand
                business requirements and practicing the development, testing
                and deployment in parallel, as part of scrum/agile methodology .
              </li>
              <li class="list-group-item border-0">
                <i class="fa fa-check"></i>
                Contributing towards the development of modifications of the
                live website using Angular 12.
              </li>
              <li class="list-group-item border-0">
                <i class="fa fa-check"></i>
                Able to solve problems and build logics from scratch.
              </li>
              <li class="list-group-item border-0">
                <i class="fa fa-check"></i>
                Developed and presented work to audiences including senior
                executives and stakeholders.
              </li>
              <li class="list-group-item border-0">
                <i class="fa fa-check"></i>
                Exposure in working with US as well as Australian clients.
              </li>
            </ul>
          </span>
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-profile"
          role="tabpanel"
          aria-labelledby="v-pills-profile-tab"
          tabindex="0"
        >
          <span class="m-t-40">
            <ul class="list-group">
              <li class="list-group-item border-0">
                <h5 class="subtitle">
                  Web Development Intern | Cloud Counselege
                </h5>
                <h6 class="subtitle">Apr 2020 to Jul 2020</h6>
              </li>
              <li class="list-group-item border-0">
                <i class="fa fa-check"></i>
                Creation of a live project divided into 7 weeks of tasks which
                in turn result into perfect project.
              </li>
              <li class="list-group-item border-0">
                <i class="fa fa-check"></i>
                Collected, defined and translated user requirements into project
                designs and implementation plans.
              </li>
            </ul>
          </span>
          <!-- <a
            class="btn btn-info btn-md btn-arrow m-t-20"
            data-toggle="collapse"
            href="#f41"
            ><span>View More <i class="ti-arrow-right"></i></span
          ></a> -->
        </div>
      </div>
    </div>
  </div>
</div>
