<div class="container text-center">
  <div class="row justify-content-md-left">
    <div class="col col-xl-1 col-lg-1 col-md-2 col-sm-3">
      <span class="badge rounded-pill text-bg-info text-light">Angular 2+</span>
      <span class="badge rounded-pill text-bg-info text-light">HTML</span>
      <span class="badge rounded-pill text-bg-info text-light">CSS</span>
      <span class="badge rounded-pill text-bg-info text-light">SCSS</span>
    </div>
    <div class="col col-xl-1 col-lg-1 col-md-2 col-sm-3">
      <span class="badge rounded-pill text-bg-info text-light">JavaScript</span>
      <span class="badge rounded-pill text-bg-info text-light">TypeScript</span>
      <span class="badge rounded-pill text-bg-info text-light">BitBucket</span>
      <span class="badge rounded-pill text-bg-info text-light">FIGMA</span>
    </div>
    <div class="col col-xl-1 col-lg-1 col-md-2 col-sm-3">
      <span class="badge rounded-pill text-bg-info text-light">ABSTRACT</span>
      <span class="badge rounded-pill text-bg-info text-light">JIRA</span>
      <span class="badge rounded-pill text-bg-info text-light">Confluence</span>
      <span class="badge rounded-pill text-bg-info text-light">AEM</span>
    </div>
  </div>
</div>
