/* .name span {
  position: relative;
  display: inline-block;
  animation: flip 4s infinite;
  animation-delay: calc(0.1s * var(--i));
} */
.abt {
  margin-top: 70px;
}
.name {
  font-weight: 500;
  font-size: 80px;
  background: linear-gradient(
    120deg,
    #f6a5ff,
    #a5f5ff,
    #7e57c2,
    #26c6da,
    #eeff41,
    #f6a5ff,
    #a5f5ff,
    #26c6da
  );
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
a {
  all: unset;
}
hr {
  display: inline-block;
  width: 50%;
  height: 6px;
  margin: auto;
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .name {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 50px */
@media screen and (max-width: 600px) {
  .name {
    font-size: 50px;
  }
}
