<div class="abt container">
  <div class="row align-items-center">
    <h5 class="col-md-8" style="color:rgb(111, 211, 241); ">
      Hello! My name is
      <h1 class="name pb-1">
        Shraddha Bijotkar.
        <!-- <span class="name" *ngFor="let name of name; index as in">
        <span style="--i:{{ in + 1 }}">{{ name }}</span>
        </span> -->
      </h1>
    </h5>
    <div class="col-md-4">
      <img class="rounded-circle" src="https://raw.githubusercontent.com/shraddha-bijotkar/portfolio/master/src/assets/coder-gif.gif" loading="lazy" width="150px" height="150px"/>
    </div>
    
  </div>
  <div class="mt-5">
    <h5>
      <i class="fa fa-info-circle"></i> About me
      <hr />
    </h5>
    <p>
      Passionate Angular developer with <span> 2 years of experience</span> in
      crafting user interfaces that leave a lasting impression. With a strong
      focus on code quality and attention to detail, I specialize in building
      scalable and performant web applications using Angular framework.
    </p>
    <p>
      Some of the technologies that I have worked on include (but are not
      limited to):
    </p>
  </div>
  <skills> </skills>
</div>
