<div class="container mt-5">
  <figure class="text-center">
    <h5><i class="fa fa-comment-o"></i> What's next ?</h5>
    <blockquote class="blockquote">
      <p>Get In Touch!</p>
    </blockquote>
    <blockquote>
      I will be happy to receive your contact if you want to talk about new
      opportunities. Write me, and I will reply as soon as I see your message.
    </blockquote>
    <button type="button" class="btn btn-outline-info">
      <a style="all: unset" href="mailto:shraddha.bijotkar@gmail.com"
        >Say Hello
      </a>
    </button>
  </figure>
</div>
